
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="default-text-color text-center">
    Welcome to Sam's warehouse
</h1>
<div class="d-flex justify-content-center flex-column flex -">
    <div class="row card justify-content-center col-sm-7 align-self-sm-center  mb-5">
        <iframe class="" id="drone-video" src="https://www.youtube.com/embed/iUtnZpzkbG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <h1 class="default-text-color text-center">
        Find out more.
    </h1>
    <div class="d-sm-flex flex-sm-row align-items-center">
        <p class="default-text-color p-4" id="about-us-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="d-flex justify-content-center col-sm-5 p-sm-2 m-sm-5">
            <img src="/Resources/Sams Warehouse Shopping Cart.svg" class="rounded-3 bg-white w-75" />
        </div>
    </div>
    

</div>